/.autotools
/.cproject
/.project
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/m4
/missing
/stamp-h1
/.settings

wxscid
Makefile
Makefile.in
.deps
*.o

# libtools
libtool
ltmain.sh
.libs
*.la
*.lo
/build_win.sh
